rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /pages/{pageId} {
      allow read;
      allow create: if request.auth != null;
      allow update: if request.auth != null
                    && request.resource.data.userId == request.auth.uid; // TODO: add group level permissions
      allow delete: if false;
    }
  }
}
